<form #contactPatch="ngForm" class="patchForm" (ngSubmit)="submit(contactPatch)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
            <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input 
                        required 
                        minlength="3" 
                        maxlength="10" 
                        pattern="banana" 
                        ngModel 
                        #firstName="ngModel" 
                        name="firstName"
                        (change)="log(firstName)" 
                        id="firstName" 
                        type="text" 
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                        <div *ngIf="firstName.errors.required">First name is required</div>
                        <div *ngIf="firstName.errors.minlength">First name should be minimum of {{firstName.errors.minlength.requiredLength}} characters</div>
                        <div *ngIf="firstName.errors.pattern">First name doesnt match the pattern</div>
                    </div>
            </div>
    </div>
   
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea required ngModel #comment="ngModel" name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">Comments are required</div>
    </div>  
<div class="checbox">
    <label>
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
    </label>    
</div>
<div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option value=""></option>
    <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
</select>
</div>
<div *ngFor="let method of contactMethods " class="radio">
    <label for="">
        <input ngModel type="radio" name="contactMethod" [value]="method.id">
        {{method.name}}
    </label>
</div>   

<p>{{contactPatch.value | json}}</p> <!--nice lil trick to check if the form is having all the attributes-->
    <button class="btn btn-primary" [disabled]="!contactPatch.valid" >Submit</button> <!--diabling the button if the form is not valid or has errors-->
</form>
