<form [formGroup]="form">
    <div class="form-group">
        <label for="">Old Password</label>
        <input formControlName="oldPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
           <div *ngIf="oldPassword.errors.required">Old Password is required</div> 
           <div *ngIf="oldPassword.errors.invalidOldPassword">Old Password is invalid</div> 
        </div>
    </div>
    <div class="form-group">
        <label for="">New Password</label>
        <input  formControlName="newPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
                <div *ngIf="newPassword.errors.required">New Password is required</div> 
        </div>
    </div>
    <div class="form-group">
        <label for="">Confirm Password</label>
        <input  formControlName="confirmPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div> 
        </div>
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch" class="alert alert-danger">Passwords do not match</div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>
