<form [formGroup]="form" (ngSubmit)="login()">
    <div formGroupName="account">
            <div *ngIf="form.errors" class="alert alert-danger">The username and password combination is invalid</div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input 
                    formControlName="username"
                        id="username" 
                        type="text" 
                        class="form-control">
                        <div *ngIf="username.pending">Checking for uniqueness....</div>
                        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                            <div *ngIf=username.errors.required>Username is required</div>
                            <div *ngIf=username.errors.minlength>Username must be a minimum length of {{username.errors.minlength.requiredLength}}</div>
                            <div *ngIf=username.errors.cannotContainSpace>Username cannot contain space</div>
                            <div *ngIf=username.errors.shouldBeunique>Username is already taken</div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                    formControlName="password"
                        id="password" 
                        type="password" 
                        class="form-control">
            </div>
    </div>
     <button class="btn btn-primary" type="submit">Sign Up</button>
</form>