<!--contact-form></contact-form-->
<!--app-reactive-signup-form></app-reactive-signup-form-->
<!--app-new-course-form></app-new-course-form-->
<!--app-change-password></app-change-password-->
<app-post></app-post>
<router-outlet></router-outlet>
