/* You can add global styles to this file, and also import other style files */
@import "~bootstrap\dist\css\bootstrap.css";
body{
    padding: 10px;
}
.patchForm{
    background-color: #efefef;
    width: 350px;
    height: 800px;
    border-radius: 5px;
    padding: 15px;
    color: #4e4e4e
}
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}